@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Felipa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bevan&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@900&display=swap');

.App {
  color : #302f31 !important;
  background-color: #ece8dc;
  height: 100%;
  width: 100%;
  background-image: url('./images/daily.png');
  text-align: justify;
  font-family: 'Felipa', cursive;
  font-size: 0.8em !important;
  letter-spacing: -0.6px;
  line-height: 1.1;
  padding-top: 50px;
  padding-bottom: 50px;
}

.titre1 {
  letter-spacing: 4px;
  text-align: center;
  font-size: 7em !important;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.titre2 {
  font-size: 6em !important;
  font-family: 'Patua One', cursive;
}

.titre3 {
  letter-spacing: 3px;
  font-size: 4em !important;
  font-family: 'Bevan', cursive;
}

.titre4 {
  letter-spacing: 3px;
  font-size: 4em !important;
  font-family: 'Londrina Solid', cursive;
}


.titre-lettre {
  text-align: center !important;
  font-size: 14em !important;
  font-family: 'Fredericka the Great', cursive;
}

.titre-vertical {
  position: relative;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  padding-bottom: 0;
}

.article:hover {
  cursor: pointer;
  text-shadow: 0 0 10px #b8964d;
}