@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Felipa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bevan&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@300&display=swap');

html, body {
  height: 100%;
  margin: 0;
}

.App {
  color : #302f31 !important;
  background-color: #ece8dc;
  height: 100%;
  width: 100%;
  background-image: url('./images/daily.png');
  text-align: justify;
  font-family: 'Felipa', cursive;
  font-size: 0.8em !important;
  letter-spacing: -0.6px;
  line-height: 1.1;
  padding-top: 50px;
  padding-bottom: 50px;
}

.border-article {
  border: 5px solid transparent;
  /* border: 5px #302e31 solid; */
  padding: 30px 20px 30px 20px;
  border-image: url("./images/border.png") 30 stretch;
}

p {
  line-height: 1.1;
}

.texte {
  font-family: 'Grenze Gotisch', cursive;
  line-height: 1.4;
  font-size: 1.4em !important;
}

.titre1 {
  letter-spacing: 4px;
  text-align: center;
  font-size: 7em !important;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-transform: uppercase;
}

.titre2 {
  font-size: 6em !important;
  font-family: 'Patua One', cursive;
  text-transform: uppercase;
}

.titre3 {
  letter-spacing: 3px;
  font-size: 4em !important;
  font-family: 'Bevan', cursive;
  text-transform: uppercase;
}

.titre4 {
  letter-spacing: 3px;
  font-size: 4em !important;
  font-family: 'Londrina Solid', cursive;
  text-transform: uppercase;
}

.titre-lettre {
  text-align: center !important;
  font-size: 14em !important;
  font-family: 'Fredericka the Great', cursive;
  text-transform: uppercase;
}

.titre-vertical {
  position: relative;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  padding-bottom: 0;
  text-transform: uppercase;
}

.article:hover {
  cursor: pointer;
  text-shadow: 0 0 10px #b8964d;
}

.ui.modal>.content, .ui.modal>.header {
  background: none !important;
}

.ui.active.modal {
  background-color: #ece8dc;
  background-image: url('./images/daily.png');
}

i.icon.close:before {
  content : "X" !important;
  font-family: 'PATUA ONE';
}

i.icon.archive:before {
  content : url("./images/main-droite.jpg") !important;
}

.ui.header>.icon+.content {
  font-family: 'Patua One', cursive;
}

.ui.modal {
  border-radius: 0 !important;
}