@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Felipa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bevan&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch&display=swap');

body {
  height: 100%;
  margin: 0;
  color : #302f31 !important;
  height: 100%;
  width: 100%;
  background-color: #ece8dc !important;
  background-image: url('./images/daily.png') !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: justify;
  font-family: 'Felipa', cursive;
  font-size: 0.8em !important;
  letter-spacing: -0.6px;
  line-height: 1.1;
}

.App .Navbar{
  font-size: 30px;
  display: inline-block;
  text-decoration: none;
  width: 100%;
  /* height: 150px; */
  padding: 10px 30px;
  color: #1d1d1c;
}
.Navbar .logo-petit {
  transition: 0.3s;
  display: block;
}
.Navbar .logo-petit:hover {
  filter: drop-shadow(0 0 18px #b8964d);
}

.Navbar .lien-accueil {
  float: left;
}
.Navbar .lien-a-propos, .Navbar .lien-kiosque {
  float: right;
  height: 100%;
  padding-top: 40px;
  text-align: center;
  font-family: 'Grenze Gotisch', cursive;
  margin-right: 20px;
}

.Navbar a { 
  color: #1d1d1c;
  transition: 0.3s;
}
.Navbar a:hover { 
  color: #b8964d;
}

.accueil {
  font-size: 20px;
}
#header-title {
  margin: auto;
  padding-top: 100px;
  width: 100%;
  transition: 0.2s;
  top: 0;
  height: fit-content;
}

.corps .articles-header {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.accueil .article-img {
  transition: ease-out 0.6s;
}

.accueil .article-img:hover {
  transition: 0.3s;
  transform: translateY(-3px);
  box-shadow: 0 10px 13px #cecec2;
}

.accueil .voir-plus {
  font-family: 'Grenze Gotisch', cursive;
  color: #1d1d1c;
  transition: 0.2s;
  float: right;
  font-size: 40px;
}
.accueil .voir-plus:hover {
  text-shadow: 0 0 10px #b8964d;
}


.header {
  margin-bottom: 30px !important;
}



.border-article {
  border: 5px solid transparent;
  /* border: 5px #302e31 solid; */
  padding: 30px 20px 30px 20px;
  border-image: url("./images/border.png") 30 stretch;
}

p {
  line-height: 1.1;
}

.texte {
  font-family: 'Grenze Gotisch', cursive;
  line-height: 1.4;
  font-size: 1.4em !important;
}

.titre1 {
  letter-spacing: 4px;
  text-align: center;
  font-size: 6em !important;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-transform: uppercase;
}

.titre2 {
  font-size: 3.6em !important;
  font-family: 'Patua One', cursive;
  text-transform: uppercase;
}

.titre3 {
  letter-spacing: 3px;
  font-size: 4em !important;
  font-family: 'Bevan', cursive;
  text-transform: uppercase;
}

.titre4 {
  letter-spacing: 3px;
  font-size: 4em !important;
  font-family: 'Londrina Solid', cursive;
  text-transform: uppercase;
}

/* TITRE Daily data'venir */
.titre5 {
  font-size: 5em !important;
  font-family: 'Special Elite', cursive;
  text-align: center;
  text-transform: uppercase;
}

.titre6 {
  font-family: 'Noto Serif', serif;
  font-size: 2em !important;
  text-align: center;
  text-transform: uppercase;
}

.titre7 {
  font-family: 'Grenze Gotisch', cursive;
  font-size: 2em !important;
  text-align: center;
  text-transform: uppercase;
}

.titre-lettre {
  text-align: center !important;
  font-size: 10em !important;
  font-family: 'Fredericka the Great', cursive;
  text-transform: uppercase;
}

.titre-vertical {
  position: relative;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  padding-bottom: 0;
  text-transform: uppercase;
}

.article:hover {
  cursor: pointer;
  text-shadow: 0 0 10px #b8964d;
}

.imageArticle:hover {
  cursor: pointer;
  box-shadow : 0 0 10px #b8964d;
}

.ui.modal>.content, .ui.modal>.header {
  background: none !important;
}

.ui.active.modal {
  background-color: #ece8dc;
  background-image: url('./images/daily.png');
}

i.icon.close:before {
  content : "X" !important;
  font-family: 'PATUA ONE';
}

i.icon.archive:before {
  content : url("./images/main-droite.jpg") !important;
}


.ui.header>.icon+.content {
  font-family: 'Patua One', cursive;
  text-transform: uppercase;
}

.ui.modal {
  border-radius: 0 !important;
}

.mini-titre {
  font-size: 1.3em !important;
}

.padding-300 {
  padding-top: 300px;
}

@media only screen and (max-width: 767px) {
  .titre-vertical {
    position: relative;
    writing-mode: horizontal-tb;
    text-orientation: mixed;
    text-transform: uppercase;
  }
  .padding-300 {
    padding-top: 0;
  }
  .ui.image {
    margin: auto;
  }

  .vertical-mobile {
    writing-mode: vertical-lr;
    margin: auto;
    height: 100px;
    max-height: 30%;
  }

}

.heron-img {
  display: none;
  width : 700px;
  position: absolute;
  left : 0px;
  bottom : -900px;
}

/* FOOTER */
footer {
  margin-top: 50px;
  box-shadow: 0 0 10px 10px #cecec2;
  background-color: #f1f0ec;
  min-height: 250px;
  padding-top: 50px;
}